<div class="container learn-container-padding">
  <div class="row-learning">
    <div class="learn-sidebar col-lg-4 ">
      <div id="tab-0" class="tab-content current">
        <ul>
          <li>
            <a class="sidebar-item" href="/learn/introduction-to-cryptocurrency">
              <div class="number"><span></span></div>
              <div class="sidebar-holder">
                <div class="article-img">
                  <%= image_tag("bitcoin-logo.png") %>
                </div>
                <div class="sidebar-content">
                  <h5>Introduction to cryptocurrency</h5>
                </div>
              </div>
            </a>
          </li>

          <li>
            <a class="sidebar-item" href="/learn/cryptocurrency-origin">
              <div class="number"><span></span></div>
              <div class="sidebar-holder">
                <div class="article-img">
                  <%= image_tag("ethereum.png") %>
                </div>
                <div class="sidebar-content">
                  <h5>Origins of cryptocurrency</h5>
                </div>
              </div>
            </a>
          </li>

          <li>
            <a class="sidebar-item" href="/learn/cryptocurrency-pros-cons">
              <div class="number"><span></span></div>
              <div class="sidebar-holder">
                <div class="article-img">
                  <%= image_tag("ripple.png") %>
                </div>
                <div class="sidebar-content">
                  <h5>Cryptocurrency pros & cons</h5>
                </div>
              </div>
            </a>
          </li>

          <li>
            <a class="sidebar-item" href="/learn/cryptocurrency-types">
              <div class="number"><span></span></div>
              <div class="sidebar-holder">
                <div class="article-img">
                  <%= image_tag("litecoin.png") %>
                </div>
                <div class="sidebar-content">
                  <h5>Types of cryptocurrency</h5>
                </div>
              </div>
            </a>
          </li>

          <li>
            <a class="sidebar-item" href="/learn/cryptocurrency-risks-dangers">
              <div class="number"><span></span></div>
              <div class="sidebar-holder">
                <div class="article-img">
                  <%= image_tag("monero.png") %>
                </div>
                <div class="sidebar-content">
                  <h5>Risks and dangers of cryptocurrency</h5>
                </div>
              </div>
            </a>
          </li>

          <li>
            <a class="sidebar-item" href="/learn/cryptocurrency-legalities">
              <div class="number"><span></span></div>
              <div class="sidebar-holder">
                <div class="article-img">
                  <%= image_tag("legalities.png") %>
                </div>
                <div class="sidebar-content">
                  <h5>The legalities of cryptocurrency</h5>
                </div>
              </div>
            </a>
          </li>

          <li>
            <a class="sidebar-item" href="/learn/cryptocurrency-wallets">
              <div class="number"><span></span></div>
              <div class="sidebar-holder">
                <div class="article-img">
                  <%= image_tag("wallet.png") %>
                </div>
                <div class="sidebar-content">
                  <h5>Wallets of cryptocurrency</h5>
                </div>
              </div>
            </a>
          </li>

          <li>
            <a class="sidebar-item" href="/learn/cryptocurrency-tips">
              <div class="number"><span></span></div>
              <div class="sidebar-holder">
                <div class="article-img">
                  <%= image_tag("crypto-tips.png") %>
                </div>
                <div class="sidebar-content">
                  <h5>Cryptocurrency tips & tricks</h5>
                </div>
              </div>
            </a>
          </li>

          <li>
            <a class="sidebar-item" href="/learn/cryptocurrency-future">
              <div class="number"><span></span></div>
              <div class="sidebar-holder">
                <div class="article-img">
                  <%= image_tag("crypto-future.png") %>
                </div>
                <div class="sidebar-content">
                  <h5>Future of cryptocurrency</h5>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="crypto-learn-wrapper col-xs-12 col-lg-8 col-lg-push-4">
