<div class="learn-detail">
  <div class="row">

    <div class="learn-sidebar col-md-4 col-sm-12 col-xs-12">
      <div>

        <div id="tab-0" class="tab-content current">
          <ul>

            <li>
              <a class="sidebar-item" href="/learn/introduction-to-cryptocurrency">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("bitcoin-logo.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Introduction to cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-origin">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("ethereum.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Origins of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-pros-cons">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("ripple.jpeg") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Cryptocurrency pros & cons</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-types">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("litecoin.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Types of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-risks-dangers">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("monero.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Risks and dangers of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="crypto-learn-wrapper col-md-8 col-md-push-4">

      <h1>Welcome to the exciting world of cryptocurrency</h1>

      <div class="crypto-learn-content">
        <div style="text-align:center"><%= image_tag("crypto-welcome.jpeg") %></div>
        <br>

        <p style="font-size: 25px line-height: px">
          It is hard to find people who have never heard of cryptocurrency before, thanks to its rapid growth. Cryptocurrency is only a term used to describe the different types of currencies inside the cryptocurrency market. The most common currency is <strong><em>Bitcoin</em></strong>, followed be other strong-performing currencies such as <strong><em>Ethereum</em></strong>, <strong><em>Litecoin</em></strong>, and many, many more
        </p>
        <br>
        <p>
          Here in our library, you will find all the tools you need to educate yourself in order to be a promising investor in the cryptocurrency market. The topics range from the history and the types of cryptocurrency to the risks and dangers of it.
        </p>
        <br>
        <p>
          Be sure to read everything carefully as the cryptocurrency market, while exciting, is rather volatile at the moment. You need to make sure you educate yourself enough before delving deeper.
        </p>
        <div id="unique">
          <%= link_to "Learning portal home", learn_bitcoin_path, class: "btn btn-info" %>
          <%= link_to "Next: Introduction to cryptocurrency", learn_intro_path, class: "btn btn-light" %>
        </div>
      </div>

    </div>
  </div>
</div>

