<div class="learn-detail">
  <div class="row-learning">

    <div class="learn-sidebar col-md-4 col-sm-12 col-xs-12">
      <div>

        <div id="tab-0" class="tab-content current">
          <ul>

            <li>
              <a class="sidebar-item" href="/learn/introduction-to-cryptocurrency">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("bitcoin-logo.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Introduction to cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-origin">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("ethereum.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Origins of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-pros-cons">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("ripple.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Cryptocurrency pros & cons</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-types">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("litecoin.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Types of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-risks-dangers">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("monero.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Risks and dangers of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-legalities">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("legalities.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>The legalities of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-wallets">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("wallet.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Wallets of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-tips">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("crypto-tips.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Cryptocurrency tips & tricks</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-future">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("crypto-future.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Future of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>


          </ul>
        </div>
      </div>
    </div>

    <div class="crypto-learn-wrapper col-md-8 col-md-push-4">

      <h1>Future of cryptocurrency</h1>

      <%= image_tag("crypto-future-big.png") %>
      <br>
      <br>
      <br>

      <p style="font-size: 25px line-height: px">
        Research company Ipsos on behalf of ING Bank B.V. has conducted a study on how cryptocurrencies are perceived across Europe, Australia and the U.S., which reveals that interest in the technology is expected to double in the future.While only 9 percent of respondents own crypto, 25 percent said they will own some in the future. The highest percent (18 percent) of crypto ownership is reported in Turkey, while the lowest (4 percent) is in Luxembourg.
      </p>

      <p>
        According to the study, 66 percent of Europeans have heard of cryptocurrency, of which 77 percent are men and 55 percent are women; 35 percent agreed that crypto is the “future of spending online,” while 35 percent said it will increase in value in the following 12 months. The share of awareness of crypto is equal to or exceeds 50 percent in every surveyed country, with the highest rate in Austria (79 percent) and Poland (77 percent). In the U.S., 57 percent of respondents have heard of cryptocurrency.
      </p>

      <p>
        Earlier this month, consulting firm Capgemini found in its World Wealth Report 2018 that interest in cryptocurrencies has notably grown among high-net-worth individuals. According to the report, nearly one-third of surveyed individuals expressed high interest in cryptocurrencies. Interest in crypto was much higher among younger investors, with 70 percent of respondents under 40 attaching great importance to having their wealth managers provide information crypto, compared to only 13 percent of respondents 60 and over.
      </p>
      <div class="learn-buttons">
        <%= link_to "Previous: Cryptocurrency tips & tricks", learn_tips_path, class: "btn btn-link" %>
        <%= link_to "Learning portal home", learn_bitcoin_path, class: "btn btn-info" %>
      </div>
      </div>
    </div>
  </div>

