<!DOCTYPE html>
<html lang="en">
<head>

  <title>Learn cryptocurrency | Decrypt</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="origin-when-cross-origin">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600" rel="stylesheet">
  <link rel="stylesheet" href="https://d32exi8v9av3ux.cloudfront.net/web/2018/08/22/dd1dcfb/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="https://d32exi8v9av3ux.cloudfront.net/web/2018/08/22/dd1dcfb/website/website.min.css">

</head>


<body id="o-wrapper" class="o-wrapper ">
</nav>
<div id="sidenav-mask" class="sidenav-mask"></div>


<header class="ln-hero-mini">
</header>
<div class="container-fluid learn-detail">
  <div class="row">
    <div class="learn-wrapper col-md-8 col-md-push-4" data-currency="XBT">
      <div class="learn-content">
        <h1>Introduction to cryptocurrency</h1>

        <%= image_tag("what-is-crypto.png") %>

        <p style="font-size: 55px line-height: px">
          Cryptocurrencies, like Bitcoin, aren't actual physical coins, but they've become a financial phenomenon in their own right. Here is your comprehensive guide for understanding cryptocurrency.
        </p>
        <br>
        <p>
          Wondering if it's the right time to break into the cryptocurrency market? That makes sense, especially since there never seems to be a clearly perfect moment.

          The journey cryptocurrency owners, especially ones who have been there since the beginning, have been incredibly rocky. Look at Bitcoin. It stagnated as an almost worthless investment before skyrocketing to a price of $20,000 in December of 2017. It has fallen off significantly since, but a statement was made. Cryptocurrencies were a joke just a few years ago; now, former President Bill Clinton is set to be keynote speaker at the Swell conference created by Ripple.
        </p>
        <br>
        <p>
          Cryptocurrencies, or virtual currencies, are digital means of exchange created and used by private individuals or groups. Because most cryptocurrencies aren’t regulated by national governments, they’re considered alternative currencies – mediums of financial exchange that exist outside the bounds of state monetary policy.
        </p>
        <br>
        <p>
          Cryptocurrencies use cryptographic protocols, or extremely complex code systems that encrypt sensitive data transfers, to secure their units of exchange. Cryptocurrency developers build these protocols on advanced mathematics and computer engineering principles that render them virtually impossible to break, and thus to duplicate or counterfeit the protected currencies. These protocols also mask the identities of cryptocurrency users, making transactions and fund flows difficult to attribute to specific individuals or groups.
        </p>
        <%= link_to "Go back to learning portal", learn_bitcoin_path %>
        <br>
      </div>

    </div>
    <nav class="learn-sidebar col-md-4 col-md-pull-8 col-sm-12 col-xs-12">
      <div>

        <div id="tab-0" class="tab-content current">
          <ul>

            <li>
              <a class="sidebar-item" href="/learn/introduction-to-cryptocurrency">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("bitcoin-logo.jpeg") %>
                  </div>
                  <div class="sidebar-content">
                    <h3>Introduction to cryptocurrency</h3>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-origin">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("ethereum.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h3>Origins of cryptocurrency</h3>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-pros-cons">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("ripple.jpeg") %>
                  </div>
                  <div class="sidebar-content">
                    <h3>Cryptocurrency pros & cons</h3>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-types">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("litecoin.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h3>Types of cryptocurrency</h3>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-risks-dangers">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("monero.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h3>Risks and dangers of cryptocurrency</h3>
                  </div>
                </div>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>


  <div class="box">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <br>
          <br>
          <h2 class="text-center footer-text" style="font-size: 70px"><em>Decrypt</em></h2>
          <br>
          <h3 class="text-center footer-text">A game changer in the cryptocurrency industry</h3>
          <br>
          <h4 class="text-center footer-text">Cryptocurrency made easy. dam this looks bad ill have to get joy to do this one</h4>
        </div>
      </div>
    </div>
  </div>


</body>
</html>






