<div class="learn-detail">
  <div class="row">

    <div class="learn-sidebar col-md-4 col-sm-12 col-xs-12">
      <div>

        <div id="tab-0" class="tab-content current">
          <ul>

            <li>
              <a class="sidebar-item" href="/learn/introduction-to-cryptocurrency">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("bitcoin-logo.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Introduction to cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-origin">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("ethereum.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Origins of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-pros-cons">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("ripple.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Cryptocurrency pros & cons</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-types">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("litecoin.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Types of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-risks-dangers">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("monero.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Risks and dangers of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-legalities">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("legalities.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>The legalities of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-wallets">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("wallet.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Wallets of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <div class="crypto-learn-wrapper col-md-8 col-md-push-4">

      <h1>Origins of cryptocurrency</h1>

        <%= image_tag("crypto-history.png") %>
        <br>
        <br>
        <iframe width="700" height="300" src="https://www.youtube.com/embed/GKFDujESgjA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="padding-left: 200px"></iframe>
        <br>
        <br>
        <p style="font-size: 25px line-height: px">
          Cryptocurrency’s technical foundations date back to the early 1980s, when an American cryptographer named David Chaum invented a “blinding” algorithm that remains central to modern web-based encryption. The algorithm allowed for secure, unalterable information exchanges between parties, laying the groundwork for future electronic currency transfers. This was known as “blinded money.”
        </p>
        <br>
        <p>
          By the late 1980s, Chaum enlisted a handful of other cryptocurrency enthusiasts in an attempt to commercialize the concept of blinded money. After relocating to the Netherlands, he founded DigiCash, a for-profit company that produced units of currency based on the blinding algorithm. Unlike Bitcoin and most other modern cryptocurrenncies, DigiCash’s control wasn’t decentralized. Chaum’s company had a monopoly on supply control, similar to central banks’ monopoly on fiat currencies
        </p>
        <br>
        <p>
          Around the same time, an accomplished software engineer named Wei Dai published a white paper on b-money, a virtual currency architecture that included many of the basic components of modern cryptocurrencies, such as complex anonymity protections and decentralization. However, b-money was never deployed as a means of exchange.
        </p>
        <br>
        <p>
          Shortly thereafter, a Chaum associate named Nick Szabo developed and released a cryptocurrency called Bit Gold, which was notable for using the blockchain system that underpins most modern cryptocurrencies. Like DigiCash, Bit Gold never gained popular traction and is no longer used as a means of exchange.
        </p>
        <br>
        <br>
        <br>
        <%= link_to "Previous: Introduction to cryptocurrency", learn_intro_path, class: "btn btn-light" %>
        <%= link_to "Learning portal home", learn_bitcoin_path, class: "btn btn-info" %>
        <%= link_to "Next: Cryptocurrency pros & cons", learn_proscons_path, class: "btn btn-light" %>
        <br>
        <br>
      </div>

    </div>
  </div>
</div>

