<!DOCTYPE html>
<html lang="en">
<head>

  <title>Learn cryptocurrency | Decrypt</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="origin-when-cross-origin">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600" rel="stylesheet">
  <link rel="stylesheet" href="https://d32exi8v9av3ux.cloudfront.net/web/2018/08/22/dd1dcfb/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="https://d32exi8v9av3ux.cloudfront.net/web/2018/08/22/dd1dcfb/website/website.min.css">

</head>


<body id="o-wrapper" class="o-wrapper ">
</nav>
<div id="sidenav-mask" class="sidenav-mask"></div>


<header class="ln-hero-mini">
</header>
<div class="container-fluid learn-detail">
  <div class="row">
    <div class="learn-wrapper col-md-8 col-md-push-4" data-currency="XBT">
      <div class="learn-content">
        <h1>Origins of cryptocurrency</h1>

        <%= image_tag("crypto-history") %>

        <p style="font-size: 25px line-height: px">
          Cryptocurrency’s technical foundations date back to the early 1980s, when an American cryptographer named David Chaum invented a “blinding” algorithm that remains central to modern web-based encryption. The algorithm allowed for secure, unalterable information exchanges between parties, laying the groundwork for future electronic currency transfers. This was known as “blinded money.”
        </p>
        <br>
        <p>
          By the late 1980s, Chaum enlisted a handful of other cryptocurrency enthusiasts in an attempt to commercialize the concept of blinded money. After relocating to the Netherlands, he founded DigiCash, a for-profit company that produced units of currency based on the blinding algorithm. Unlike Bitcoin and most other modern cryptocurrenncies, DigiCash’s control wasn’t decentralized. Chaum’s company had a monopoly on supply control, similar to central banks’ monopoly on fiat currencies
        </p>
        <br>
        <p>
          Around the same time, an accomplished software engineer named Wei Dai published a white paper on b-money, a virtual currency architecture that included many of the basic components of modern cryptocurrencies, such as complex anonymity protections and decentralization. However, b-money was never deployed as a means of exchange.
        </p>
        <br>
        <p>
          Shortly thereafter, a Chaum associate named Nick Szabo developed and released a cryptocurrency called Bit Gold, which was notable for using the blockchain system that underpins most modern cryptocurrencies. Like DigiCash, Bit Gold never gained popular traction and is no longer used as a means of exchange.
        </p>
        <%= link_to "Go back to learning portal", learn_bitcoin_path %>
        <br>
      </div>

    </div>
    <nav class="learn-sidebar col-md-4 col-md-pull-8 col-sm-12 col-xs-12">
      <div>

        <div id="tab-0" class="tab-content current">
          <ul>

            <li>
              <a class="sidebar-item" href="/learn/introduction-to-cryptocurrency">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("bitcoin-logo.jpeg") %>
                  </div>
                  <div class="sidebar-content">
                    <h3>Introduction to cryptocurrency</h3>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-origin">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("ethereum.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h3>Origins of cryptocurrency</h3>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-pros-cons">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("ripple.jpeg") %>
                  </div>
                  <div class="sidebar-content">
                    <h3>Cryptocurrency pros & cons</h3>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-types">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("litecoin.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h3>Types of cryptocurrency</h3>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-risks-dangers">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("monero.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h3>Risks and dangers of cryptocurrency</h3>
                  </div>
                </div>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>


  <div class="box">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <br>
          <br>
          <h2 class="text-center footer-text" style="font-size: 70px"><em>Decrypt</em></h2>
          <br>
          <h3 class="text-center footer-text">A game changer in the cryptocurrency industry</h3>
          <br>
          <h4 class="text-center footer-text">Cryptocurrency made easy. dam this looks bad ill have to get joy to do this one</h4>
        </div>
      </div>
    </div>
  </div>


</body>
</html>






