<div class="learn-detail">
  <div class="row-learning">

    <div class="learn-sidebar col-md-4 col-sm-12 col-xs-12">
      <div>

        <div id="tab-0" class="tab-content current">
          <ul>

            <li>
              <a class="sidebar-item" href="/learn/introduction-to-cryptocurrency">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("bitcoin-logo.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Introduction to cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-origin">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("ethereum.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Origins of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-pros-cons">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("ripple.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Cryptocurrency pros & cons</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-types">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("litecoin.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Types of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-risks-dangers">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("monero.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Risks and dangers of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-legalities">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("legalities.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>The legalities of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-wallets">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("wallet.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Wallets of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>


            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-tips">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("crypto-tips.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Cryptocurrency tips & tricks</h5>
                  </div>
                </div>
              </a>
            </li>


            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-future">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("crypto-future.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Future of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <div class="crypto-learn-wrapper col-md-8 col-md-push-4">

      <h1>Cryptocurrency pros & cons</h1>

      <%= image_tag("crypto-pros-cons.png") %>
      <br>
      <br>
      <br>

      <p style="font-size: 25px line-height: px">
        Lots of advocates of Cryptocurrency will tell you that it is the best financial system ever invented and that it has no faults. On the other hand, some people will point to examples such as the illegal deep-web market Silk Road to try and convince you that it is just a tool for crime. Techies love it – the DEA hates it – lawmakers are confused by it… but you’ll need to form your own opinion. Below you’ll find an evolving list of Cryptocurrency pros and cons to help you understand what all the fuss is about.
      </p>

      <br>
      <iframe width="700" height="400" src="https://www.youtube.com/embed/ykSdvGxGEjc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen"></iframe>
      <br>
      <br>

      <div class="row">

        <div class="col-lg-6">
          <h2 style="text-align: center">Pros</h2>
          <ul>
            <li>Cryptocurrency is legal and, if it is claimed correctly for tax purposes, opens up another avenue for transactions.</li>
            <br>
            <li>Most cryptocurrencies are built from the bottom up with security and privacy in mind. This means users can expect transactions to be private and secure.</li>
            <br>
            <li>Since the cryptocurrency market is volatile it can be a high reward (albeit high risk) investment.</li>
            <br>
            <li>Transactions are quick, permanent, and hard to fake, this eliminates a lot of the fraud issues banks deal with.</li>
            <br>
            <li>Cryptocurrency makes trading anywhere in the world easy. It’s a decentralized currency.</li>
            <br>
          </ul>
        </div>
        <div class="col-lg-6">
          <h2 style="text-align: center">Cons</h2>
          <ul>
            <li>Cryptocurrency is only accepted by certain vendors. Between that and fluctuating prices the money saved in transaction costs could be negligible.</li>
            <br>
            <li>There is no way to recover coins if they are lost and there is no system in place to protect the value of your coin</li>
            <br>
            <li>Any given cryptocurrency lacks the flexibility of centralized currency due to it’s non-inflationary nature.</li>
            <br>
            <li>The cryptocurrency market is volatile. In 2014 the value of bitcoin ranged between about $30 and $1000!</li>
            <br>
            <li>The coin you trade for a legal thing today can be used to fund awfully illegal things tomorrow. The notorious Silk Road allowed for illegal blackmarket transactions</li>
            <br>
            <br>
            <br>
          </ul>
        </div>
        <div class="learn-buttons" style="margin-left: -69px;">
          <%= link_to "Previous: Origins of cryptocurrency", learn_origin_path, class: "btn btn-link" %>
          <%= link_to "Learning portal home", learn_bitcoin_path, class: "btn btn-info" %>
          <%= link_to "Next: Types of cryptocurrency", learn_type_path, class: "btn btn-link" %>
        </div>
      </div>
    </div>
  </div>

