<div class="learn-detail">
  <div class="row">

    <div class="learn-sidebar col-md-4 col-sm-12 col-xs-12">
      <div>

        <div id="tab-0" class="tab-content current">
          <ul>

            <li>
              <a class="sidebar-item" href="/learn/introduction-to-cryptocurrency">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("bitcoin-logo.jpeg") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Introduction to cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-origin">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("ethereum.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Origins of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-pros-cons">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("ripple.jpeg") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Cryptocurrency pros & cons</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-types">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("litecoin.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Types of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a class="sidebar-item" href="/learn/cryptocurrency-risks-dangers">
                <div class="number"><span></span></div>
                <div class="sidebar-holder">
                  <div class="article-img">
                    <%= image_tag("monero.png") %>
                  </div>
                  <div class="sidebar-content">
                    <h5>Risks and dangers of cryptocurrency</h5>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="crypto-learn-wrapper col-md-8 col-md-push-4">

      <h1>5 most important cryptocurrencies other than Bitcoin</h1>

        <%= image_tag("crypto-types.jpg") %>
        <br>
        <br>
        <br>

        <p style="font-size: 55px line-height: px">
          Bitcoin has not just been a trendsetter, ushering in a wave of cryptocurrencies built on decentralized peer-to-peer network, it’s become the de facto standard for cryptocurrencies​. The currencies inspired by Bitcoin are collectively called altcoins and have tried to present themselves as modified or improved versions of Bitcoin. While some of these currencies are easier to mine than Bitcoin is, there are tradeoffs, including greater risk brought on by lesser liquidity, acceptance and value retention. We look at five cryptocurrencies, picked from over 700, that could be worth your while.
        </p>
        <br>
        <ol>
          <li>Litecoin (LTC)</li>
          <p>Litecoin, launched in the year 2011, was among the initial cryptocurrencies following bitcoin and was often referred to as ‘silver to Bitcoin’s gold.’ It was created by Charlie Lee, an MIT graduate and former Google engineer. Litecoin is based on an open source global payment network that is not controlled by any central authority and uses "scrypt" as a proof of work, which can be decoded with the help of CPUs of consumer grade.</p>
          <br>
          <li>Ethereum (ETH)</li>
          <p>Launched in 2015, Ethereum is a decentralized software platform that enables Smart Contracts and Distributed Applications (ĐApps) to be built and run without any downtime, fraud, control or interference from a third party. During 2014, Ethereum had launched a pre-sale for ether which had received an overwhelming response. The applications on Ethereum are run on its platform-specific cryptographic token, ether. Ether is like a vehicle for moving around on the Ethereum platform, and is sought by mostly developers looking to develop and run applications inside Ethereum.</p>
          <br>
          <li>Dash (DASH)</li>
          <p>Dash (originally known as Darkcoin) is a more secretive version of Bitcoin. Dash offers more anonymity as it works on a decentralized mastercode network that makes transactions almost untraceably. Launched in January 2014, Dash experienced an increasing fan following in a short span of time. This cryptocurrency was created and developed by Evan Duffield and can be mined using a CPU or GPU.</p>
          <br>
          <li>Ripple (XRP)</li>
          <p>Ripple is a real-time global settlement network that offers instant, certain and low-cost international payments. Ripple “enables banks to settle cross-border payments in real time, with end-to-end transparency, and at lower costs.” Released in 2012, Ripple currency has a market capitalization of $1.26 billion. Ripple’s consensus ledger -- its method of conformation -- doesn’t need mining, a feature that deviates from bitcoin and altcoins. Since Ripple’s structure doesn't require mining, it reduces the usage of computing power, and minimizes network latency. </p>
          <br>
          <li>Monero (XMR)</li>
          <p>Monero is a secure, private and untraceable currency. This open source cryptocurrency was launched in April 2014 and soon spiked great interest among the cryptography community and enthusiasts. The development of this cryptocurrency is completely donation-based and community-driven. Monero has been launched with a strong focus on decentralization and scalability, and enables complete privacy by using a special technique called ‘ring signatures
          </p>
        </ol>
        <br>
        <br>
        <br>
        <%= link_to "Previous: Cryptocurrency pros & cons", learn_proscons_path, class: "btn btn-light" %>
        <%= link_to "Learning portal home", learn_bitcoin_path, class: "btn btn-info" %>
        <%= link_to "Next: Risks of cryptocurrency", learn_risk_path, class: "btn btn-light" %>
        <br>
      </div>

    </div>
  </div>
</div>

