<!-- header -->
<header class="header-sticky header-light">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="<%= home_path %>">
        <%= image_tag "logo.png", class: "navbar-logo navbar-logo-dark" %>
        <!-- <img class="navbar-logo navbar-logo-light" src="../../assets/images/demo/logo/logo-light.svg" alt="Logo"> -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Compare
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <a class="dropdown-item" href="../../landing-pages.html"> -->
                <div class="dropdown-item">
                  <span><%= link_to 'Bitcoin Prices', buy_bitcoin_path %></span>
                </div>
                <!-- <p>Something here</p> -->
              </a>
<!--               <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="../../inner-pages.html">
                <span>Ethereum Prices</span> -->
                <!-- <p>Something here</p> -->
<!--               </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="../../app-pages.html">
                <span>Litecoin Prices</span> -->
                <!-- <p>Something here</p> -->
              <!-- </a> -->
            </div>
          </li>
          <li class="nav-item dropdown dropdown-mega">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Learning Portal
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown-1">
              <div class="row">
                <div class="col">
                  <ul class="mega-list">
                    <!-- <li>link_to 'Get Started', learn_path, class:'highlight'</li> -->
                    <h4>Bitcoin</h4>
                    <li><%= link_to 'What is Bitcoin?', learn_path %></li>
                    <li><%= link_to 'Where did Bitcoin come from?', learn_path %></li>
                    <li><%= link_to 'How do I get Bitcoin?', learn_path %></li>
                    <li><%= link_to 'Is Bitcoin safe?', learn_path %></li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="mega-list">
                    <h4>Ethereum</h4>
                    <li><%= link_to 'What is Ethereum?', learn_path %></li>
                    <li><%= link_to 'Where did Ethereum come from?', learn_path %></li>
                    <li><%= link_to 'How do I get Ethereum?', learn_path %></li>
                    <li><%= link_to 'Is Ethereum safe?', learn_path %></li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="mega-list">
                    <h4>Litecoin</h4>
                    <li><%= link_to 'What is Litecoin?', learn_path %></li>
                    <li><%= link_to 'Where did Litecoin come from?', learn_path %></li>
                    <li><%= link_to 'How do I get Litecoin?', learn_path %></li>
                    <li><%= link_to 'Is Litecoin safe?', learn_path %></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>

<!--         <ul class="navbar-nav align-items-center mr-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Michael Doe
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="">Sign In</a>
              <a class="dropdown-item" href="">Sign Out</a>
            </div>
          </li>
        </ul> -->
      </div>
    </nav>
  </div>
</header>
<!-- header -->
