<div class="home-banner">
  <div class="search">
    <%= form_tag(buy_bitcoin_path, method: :get) do %>
    <h1>Buy <%= text_field_tag :query %> in Bitcoin <%= submit_tag 'SEARCH', :style => "width: 200px;" %>
      <% end %>
    </h1>
    <p><%= link_to 'view bitcoin', buy_bitcoin_path %></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Pages#home</h1>
      <ul>
        <li><%= link_to 'buy bitcoin', buy_bitcoin_path  %></li>
        <li><%= link_to 'sell bitcoin', sell_bitcoin_path  %></li>
        <li><%= link_to 'learning portal', learn_path  %></li>
      </ul>
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>


