<section id="home-banner">
  <div class="col-md-5 banner">
    <h1>The easiest way to get into Bitcoin and Ethereum</h1>
    <p>something about it</p>
  </div>
  <div class="col-md-6">
    <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 20 %>
  </div>
</section>

<section id="how-it-works">
  <!-- <div class="search-bar"> -->
    <div class="col-lg-8 search-card">
      <%= form_tag(buy_bitcoin_path, method: :get) do %>
      <h1>Buy <%= text_field_tag :query %> in Bitcoin <%= submit_tag 'SEARCH', :style => "width: 200px;" %>
        <% end %>
      </h1>
    </div>
  <!-- </div> -->
</section>


      <p><%= link_to 'view bitcoin', buy_bitcoin_path %></p>
      <ul>
        <li><%= link_to 'buy bitcoin', buy_bitcoin_path  %></li>
        <li><%= link_to 'sell bitcoin', sell_bitcoin_path  %></li>
        <li><%= link_to 'learning portal', learn_path  %></li>
      </ul>
