  <section class="hero hero-with-header hero-compare-page">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <!-- <span class="eyebrow mb-1 text-primary">Ready to start ?</span> -->
          <h1 class="display-2">Find the best cryptocurrency price in <b>seconds.</b> </h1>
        </div>
      </div>
    </div>
  </section>

  <style>
  .hero-compare-page{
    padding-bottom: 0!important;
  }
</style>
<!--  wave -->
<section class="section-decorated-bottom pt-0">
  <div class="decorated-bottom text-light">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 40"  preserveAspectRatio="none">
      <path d="">
        <animate
        attributeName="d"
        begin="0s"
        dur="5s"
        repeatCount="indefinite"
        values="
        M0,0 C200,7.11236625e-15 200,40 400,40 C600,40 800,0 1000,0 L1000,50 L0,50 L0,0 Z;
        M0,40 C200,40 400,0 600,0 C800,0 800,40 1000,40 L1000,50 L0,50 L0,40 Z;
        M0,30 C200,30 200,0 400,0 C600,0 800,40 1000,40 L1000,50 L0,50 L0,30 Z;
        M0,0 C200,7.11236625e-15 200,40 400,40 C600,40 800,0 1000,0 L1000,50 L0,50 L0,0 Z;"></animate>
      </path>
    </svg>
  </div>
</section>
<!-- / wave -->

<!-- about -->
<section class="bg-light pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row separator-bottom pb-5 mb-5">
          <div class="container site-wrapper">
            <div class="row" id="content">
              <div class="col-lg-3" id="sidebar">

                <!-- form -->

                <!-- /form -->

                <!-- refine results -->
                <div class="refine-results">

                  <%= form_tag buy_bitcoin_path, method: :get do %>
                  <%= text_field_tag :amount, params[:amount], class: "form-control", placeholder: "Enter USD amount", type:'number', min: '1'%>

                  <button type="submit" class="btn btn-default btn-search--submit">

                    <i class="fas fa-search"></i>
                    Compare
                  </button>
                  <ul>
                    <!-- PAYMENT METHODS FILTER SELECTION -->
                    <h6><b>Payment Methods</b></h6>
                    <li>
                      <%= check_box_tag 'payment_methods[]', 'SWIFT Bank Transfer', true  %>
                      <p>SWIFT Bank Transfer</p>
                    </li>
                    <li>
                      <%= check_box_tag 'payment_methods[]', 'SEPA Bank Transfer', true  %>
                      <p>SEPA Bank Transfer</p>
                    </li>
                    <li>
                      <%= check_box_tag 'payment_methods[]', 'VISA', params[:payment_methods].include?('VISA')  %>
                      <p>VISA</p>
                    </li>
                    <li>
                      <%= check_box_tag 'payment_methods[]', 'Mastercard', params[:payment_methods].include?('Mastercard')  %>
                      <p>Mastercard</p>
                    </li>
                    <li>
                      <%= check_box_tag 'payment_methods[]', 'Paypal', true  %>
                      <p>Paypal</p>
                    </li>
                    <li>
                      <%= check_box_tag 'payment_methods[]', 'Sofort', true  %>
                      <p>Sofort</p>
                    </li>
                    <li>
                      <%= check_box_tag 'payment_methods[]', 'Giropay', true  %>
                      <p>Giropay</p>
                    </li>
                    <li>
                      <%= check_box_tag 'payment_methods[]', 'Skrill', true  %>
                      <p>Skrill</p>
                    </li>
                    <li>
                      <%= check_box_tag 'payment_methods[]', 'iDeal', true  %>
                      <p>iDeal</p>
                    </li>
                    <li>
                      <%= check_box_tag 'payment_methods[]', 'Bancontact / Mister', true  %>
                      <p>Bancontact / Mister</p>
                    </li>

                    <!-- FEATURES FILTER SELECTION -->
                    <h6><b>Features</b></h6>
                    <li>
                      <%= check_box_tag 'features[]', 'Beginner Friendly', params[:features].include?('Beginner Friendly')  %>
                      <p>Beginner Friendly</p>
                    </li>
                    <li>
                      <%= check_box_tag 'features[]', 'Instant Verification', params[:features].include?('Instant Verification')  %>
                      <p>Instant Verification</p>
                    </li>
                    <li>
                      <%= check_box_tag 'features[]', 'Integrated Wallet', params[:features].include?('Integrated Wallet')  %>
                      <p>Integrated Wallet</p>
                    </li>

                    <!-- SECURITY FILTER SELECTION -->
                    <h6><b>Security</b></h6>
                    <li>
                      <%= check_box_tag 'security[]', 'Two-factor Authentication', params[:security].include?('Two-factor Authentication')  %>
                      <p>Two-factor Authentication</p>
                    </li>
                    <li>
                      <%= check_box_tag 'security[]', 'Cold Storage', params[:security].include?('Cold Storage')  %>
                      <p>Cold Storage</p>
                    </li>
                    <li>
                      <%= check_box_tag 'security[]', 'Multisig Wallets', params[:security].include?('Multisig Wallets')  %>
                      <p>Multisig Wallets</p>
                    </li>
                  </ul>

                  <% end %>

                </div><!-- /refine results -->
                <!-- price-alert-modal -->
                <button id="myBtn" class="btn btn-primary btn-block"">Price Alert</button>
                <div id="myModal" class="modal">
                  <div class="email-modal-content">
                    <span class="close">&times;</span>
                    <p>One <strong>Bitcoin</strong> will cost <strong>US $7,589.63</strong>. Subscribe to be notified of any changes in the price</p>
                    <label for="email"><b>Email address:</b></label>
                    <input type="text" placeholder="YourEmail@gmail.com" name="email" required>
                    <button type="submit" class="signupbtn btn btn-sm btn-rounded btn-outline-primary mt-2">Subscribe</button>
                  </div>
                </div>
                <!-- /price-alert-modal -->
              </div> <!-- /sidebar -->



              <div class="col-9" id="comparison-section">
                <% b = @filtered_exchanges %>
                <div class="results-sort">
                  <p><%= b.count %> results sorted by Best</p>
                  <p>Sort By</p>
                </div>
                <ul class="comparison-results ">

                  <%  b.each do |eh| %>

                  <li class="results-list card js-results-list">
                    <div class="exchange-table-row">
                      <div class="message-name">

                        <%= image_tag("#{eh[:exchange].name}.png", :alt => "#{eh[:exchange].name}", class:'logo-size logo-block') %>
                        <div class="exchange-ratings">

                          <% eh[:exchange].rating.times do %>
                          <%= icon('star', 'Font Awesome', class: 'fa fa-star star-yellow') %>

                          <% end %>
                        </div>
                        <div class="more-info js-exchange-modal-click">
                          <h7>Read More</h7>
                        </div>
                      </div>


                      <div class="message-status">
                        <% if params[:amount].empty? %>
                          <h5><b><i class="fab fa-btc"></i> 1 = USD <%= eh[:market_snapshot].buy_price.round(2) %></b></h5>
                        <% else %>
                          <h5>$<%= params[:amount] %> will get you</h5>
                          <h5><b><i class="fab fa-btc"></i><%= eh[:bitcoin].round(4) %> </b></h5>
                        <% end %>
                      </div>

                      <div class="action-button">
                        <p><i class="fab fa-btc"></i> 1 = $<%= eh[:market_snapshot].buy_price.round(2) %></p>
                        <a href= <%= eh[:exchange].url %> target="_blank" >
                          <button type="button" class="btn btn-primary">Go to site</button>
                        </a>
                      </div>
                    </div>
                    <div class="exchange-modal js-exchange-modal">
                      <div class="exchange-modal-content">
                        <div class="col-12">
                          <h3><%= eh[:exchange].name.capitalize %></h3>
                          <%= image_tag("#{eh[:exchange].name}.png", :alt => "#{eh[:exchange].name}", class:'logo-size logo-block') %>
                          <h4><%= eh[:exchange].country %></h4>
                          <h4><%= eh[:exchange].verification_time %></h4>
                          <h4><%= eh[:exchange].fee_description %></h4>
                          <h4><%= eh[:exchange].fees %></h4>
                          <h4><%= eh[:exchange].rating %></h4>
                          <% payouts = eh[:exchange].payout_methods %>
                          <% payouts.each do |payout| %>
                          <h4><%= payout %></h4>
                          <% end %>
                        </div>

                        <div class="js-exchange-modal-click close-modal">x
                        </div>
                      </div>
                    </div>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / about -->

