<div class="site-wrapper">
  <div class="col-lg-3" id="sidebar">
    <h2>Sidebar</h2>
    <button id="myBtn">Price Alert</button>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>One <strong>Bitcoin</strong> will cost <strong>US $7,589.63</strong>. Subscribe to be notified of any changes in the price</p>
        <label for="email"><b>Email address:</b></label>
        <input type="text" placeholder="YourEmail@gmail.com" name="email" required>
        <button type="submit" class="signupbtn">Subscribe</button>
      </div>
    </div>
  </div>

  <div class="col-lg-9" id="content">
    <div class="row" id="content-results">
      <div class="col-lg-12">
        <h1>Your search for <%= params[:query] %> USD to Bitcoin</h1>
        <ul>
          <li><%= link_to 'sell bitcoin', sell_bitcoin_path  %></li>
          <li><%= link_to 'learning portal', learn_path  %></li>
          <li><%= link_to 'home', home_path  %></li>
        </ul>
      </div>
    </div>
    <div class="row" id="comparison-section">
      <div class="col-lg-12 comparison-section-column">
        <table class="table table-bordered text-center" id="comparison-table">
          <thead>
            <tr>
              <th scope="col"><h3>Exchange</h3></th>
              <th scope="col table__col--emphasis"><h3>Price</h3></th>
              <th scope="col"><h3>Fee</h3></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% b = Exchange.all %>
            <%  b.each do |exchange| %>
              <tr>
                <th scope="row"><%= exchange.name %></th>
                <td>
                  <ul>
                    <li><%= exchange.market_snapshot.buy_price %></li>
                  </ul>
                </td>
                <td></td>
                <td>
                  <a href="https://www.google.com">
                    <button type="button" class="btn btn-primary">Go to site</button>
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




