  <div id="content-results">
    <div class="col-lg-4 col-lg-offset-2">
      <h1>Buy <%= params[:query] %> USD in Bitcoin</h1>
      <%= render 'shared/searchbar' %>
    </div>
  </div>

  <div class="container site-wrapper">
    <div class="row" id="content">
      <div class="col-lg-3" id="sidebar">
        <h5>Filter</h5>
        <button id="myBtn">Price Alert</button>
        <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <p>One <strong>Bitcoin</strong> will cost <strong>US $7,589.63</strong>. Subscribe to be notified of any changes in the price</p>
            <label for="email"><b>Email address:</b></label>
            <input type="text" placeholder="YourEmail@gmail.com" name="email" required>
            <button type="submit" class="signupbtn">Subscribe</button>
          </div>
        </div>
      </div>

      <div class="col-lg-8" id="comparison-section">
        <% b = Exchange.all %>
        <div class="results-sort">
          <p><%= b.count %> results sorted by Best</p>
          <p>sort by</p>
        </div>
        <ul class="comparison-results ">
          <%  b.each do |exchange| %>
          <li class="results-list card">
            <div class="message-name">
              <%= image_tag("#{exchange.name}.png", :alt => "#{exchange.name}", class:'logo-size logo-block') %>
              <% exchange.rating.times do %>
              <%= icon('star', 'Font Awesome', class: 'fa fa-star star-yellow') %>
              <% end %>
            </div>

            <div class="message-body">
              <p><strong>


              </strong></p>

            </div>
            <div class="message-status">
              <p class="price">$<%= exchange.market_snapshot.buy_price.round(2) %>0</p>

              <a href="https://www.google.com">
                <button type="button" class="btn btn-primary">Go to site</button>
              </a>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

